body{
margin:0px;
width:100%;
height:100%;
}

header{
 width:100%;
 height:10%;
 background:#00ef;
}
main{
    width:100%;
    height:80%;
    background:#000;
}
footer{
    width:100%;
    height:10%;
}